@charset "UTF-8";
/*一行目で必ず文字コードを指定*/

/* 複数のセレクターに1つのプロパティを設定する(カンマで複数指定) */

body {
    background-color: #808080;
    color: #000000;
    font-family: serif;
}

header,
footer {
    background-color: #696969;
}